.title{
    color: navy
  }
  .status{
    border: 1px solid navy ;
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }